{% extends 'nutrition/layout.html' %}
{% block title %}Daily Diet Totals{% endblock %}

{% block head %}
    <script type="text/javascript">
    $( document ).ready(function() {
        var d = new Date();
        var currentWorkingMonth = d.getMonth();
        var currentWorkingYear = d.getFullYear();
        var numberOfDaysInCurrentMonth = new Date(currentWorkingYear, currentWorkingMonth + 1, 0).getDate();
        console.log(numberOfDaysInCurrentMonth);
        var monthSelectedInDropDown;

        //function below as a variable because it relies on global variables to be defined
        var drawGraph = function (lineChartDataObject, numOfDaysInMonthToBeDrawn, currentYearOrYearSelectedInDropDown, arrayOfData) {
            lineChartDataObject.labels = []; //add 'labels' element to object (X axis)
            lineChartDataObject.datasets = []; //add 'datasets' array element to object

            //need to iterate through lineChartDataObject and reset all it's labels: [] to be empty
            for (line = 0; line < 4; line++) {
                y = [];
                lineChartDataObject.datasets.push({}); //create a new line dataset
                dataset = lineChartDataObject.datasets[line];
                if (line === 0) {
                    dataset.fillColor = "rgba(255,0,0,0)";
                    dataset.strokeColor = "rgba(255,0,0,1)";
                }
                else if (line === 1) {
                    dataset.fillColor = "rgba(0,255,0,0)";
                    dataset.strokeColor = "rgba(0,255,0,1)";
                }
                else if (line === 2) {
                    dataset.fillColor = "rgba(0,0,255,0)";
                    dataset.strokeColor = "rgba(0,0,255,1)";
                }
                else if (line === 3) {
                    dataset.fillColor = "rgba(255,0,255,0)";
                    dataset.strokeColor = "rgba(255,0,255,1)";
                }
                dataset.data = []; //contains the 'Y; axis data

                for (x = 1; x < numOfDaysInMonthToBeDrawn + 1; x++) {
                    console.log(arrayOfData[0][currentWorkingMonth][x-1]);
                    y.push(arrayOfData[0][currentWorkingMonth][x-1][line]);
                    //y.push(line + x); //push some data aka generate 4 distinct separate lines

                    if (line === 0) {
                        lineChartDataObject.labels.push(x); //adds x axis labels
                    }

                } //for x

                lineChartDataObject.datasets[line].data = y; //send new line data to dataset
            } //for line

            var ctx = document.getElementById("myChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(lineChartDataObject);
        };

        var arrayOfDataOrganizedByYearAndMonth = [[ [], [], [], [], [], [], [], [], [], [], [], [] ]];
        for (x=0; x<arrayOfDataOrganizedByYearAndMonth[0].length; x++) {
            var numOfDaysInMonthForCreatingArrayOfData = new Date(2017, x+1, 0).getDate();
            for (j=0; j<numOfDaysInMonthForCreatingArrayOfData; j++) {
                arrayOfDataOrganizedByYearAndMonth[0][x].push([null,null,null,null]);
            }
        }

        {% for entry in all_daily_diet_totals %}
            var newDateString = ("{{ entry.date.isoformat }}") + "T00:00:00";
            var javascriptDateObjectOfCurrentEntry = new Date(newDateString);
            var dayOfTheMonthOfCurrentEntry = javascriptDateObjectOfCurrentEntry.getUTCDate();
            var monthOfCurrentEntry = javascriptDateObjectOfCurrentEntry.getMonth();
            console.log(monthOfCurrentEntry);
            var totalKcalsFromModel = {{ entry.total_KCALS }};
            var totalKcalsFromModelDividedByTen = totalKcalsFromModel/10;
            //(dayOfTheMonthOfCurrentEntry - 1) below because array to be populated is 0 indexed and the value being used goes from 1-(last day of month)
            arrayOfDataOrganizedByYearAndMonth[0][monthOfCurrentEntry][dayOfTheMonthOfCurrentEntry-1][0] = totalKcalsFromModelDividedByTen;
            arrayOfDataOrganizedByYearAndMonth[0][monthOfCurrentEntry][dayOfTheMonthOfCurrentEntry-1][1] = {{ entry.total_protein }};
            arrayOfDataOrganizedByYearAndMonth[0][monthOfCurrentEntry][dayOfTheMonthOfCurrentEntry-1][2] = {{ entry.total_carbs }};
            arrayOfDataOrganizedByYearAndMonth[0][monthOfCurrentEntry][dayOfTheMonthOfCurrentEntry-1][3] = {{ entry.total_fat }};
        {% endfor %}


        drawGraph({}, numberOfDaysInCurrentMonth, currentWorkingYear, arrayOfDataOrganizedByYearAndMonth);

        var monthNames = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"
        ];
        var monthPlaceHolderText = document.getElementById("monthSelectorDropDown").innerHTML = monthNames[currentWorkingMonth]; //inject text of the current year into HTML button
        var whichMonthToDisplayFunction = $(function () {
            $("#monthDropDownIdentifier li a").click(function () {
                $("#monthSelectorDropDown").text($(this).text());
                $("#monthSelectorDropDown").val($(this).text());
                var monthSelectedInDropDown = this.text;

                receiveMonthFromDropDownAndUpdateChart(monthSelectedInDropDown);
                //console.log(monthSelectedInDropDown);
            });
        });

        var yearPlaceHolderText = document.getElementById("yearSelectorDropDown").innerHTML = d.getFullYear();
        var whichYearToDisplayFunction = $(function () {
            $("#yearDropDownIdentifier li a").click(function () {
                $("#yearSelectorDropDown").text($(this).text());
                $("#yearSelectordropdown").val($(this).text());

                receiveYearFromDropDownAndUpdateChart(this.text);
            });
        });

        function receiveMonthFromDropDownAndUpdateChart (selectedMonthFromWhichMonthToDisplayFunction) {
            var numOfDaysInSelectedMonth;
            for (x=0; x< monthNames.length; x++) {
                if (selectedMonthFromWhichMonthToDisplayFunction == monthNames[x]) {
                    currentWorkingMonth = x;
                    numOfDaysInSelectedMonth = new Date(currentWorkingYear, x+1, 0).getDate();
                    drawGraph({}, numOfDaysInSelectedMonth, currentWorkingYear, arrayOfDataOrganizedByYearAndMonth);
                }
            }
        };

        function receiveYearFromDropDownAndUpdateChart (selectedYearFromWhichYearToDisplayFunction) {
            //console.log(selectedYearFromWhichYearToDisplayFunction);
            var yearAsInt = parseInt(selectedYearFromWhichYearToDisplayFunction);
            currentWorkingYear = yearAsInt;
            var numOfDaysInSelectedMonth = new Date(yearAsInt, currentWorkingMonth + 1, 0).getDate();
            console.log(numOfDaysInSelectedMonth);
            drawGraph({}, numOfDaysInSelectedMonth, yearAsInt, []);
        };

    });
    </script>
{% endblock %}

{% block body %}
    <p>variable above:</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <p>Select Month: </p>
            </div>
            <div class="col-sm-4" id="monthDropDownIdentifier">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="monthSelectorDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--Javascript inserts current month text here-->
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="monthSelectorDropDown">
                        <li><a class="dropdown-item" id="januaryOption" href="#january">January</a></li>
                        <li><a class="dropdown-item" id="februaryOption" href="#">February</a></li>
                        <li><a class="dropdown-item" id="marchOption" href="#">March</a></li>
                        <li><a class="dropdown-item" id="aprilOption" href="#">April</a></li>
                        <li><a class="dropdown-item" id="mayOption" href="#">May</a></li>
                        <li><a class="dropdown-item" id="juneOption" href="#">June</a></li>
                        <li><a class="dropdown-item" id="julyOption" href="#">July</a></li>
                        <li><a class="dropdown-item" id="augustOption" href="#">August</a></li>
                        <li><a class="dropdown-item" id="septemberOption" href="#">September</a></li>
                        <li><a class="dropdown-item" id="octoberOption" href="#">October</a></li>
                        <li><a class="dropdown-item" id="novemberOption" href="#">November</a></li>
                        <li><a class="dropdown-item" id="decemberOption" href="#">December</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <p>Select Year:</p>
            </div>
            <div class="col-sm-4" id="yearDropDownIdentifier">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="yearSelectorDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--Javascript inserts year text month here-->
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="yearSelectorDropDown">
                        <li><a class="dropdown-item" id="2017OptionOnDropDown" href="#">2017</a> </li>
                        <li><a class="dropdown-item" id="2018OptionOnDropDown" href="#">2018</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <h2>Totals</h2>
            </div>
            <div class="col-sm-10">
                <canvas id="myChart" width="800" height="500"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Date</h2>
        </div>
    </div>

{% if all_daily_diet_totals %}
    <ul>
        {% for daily_diet_totals in all_daily_diet_totals %}
            <li><a href="{% url 'nutrition:detail' daily_diet_totals.id %}">{{ daily_diet_totals.id }}</a></li>

            <!-- Update -->
            <li><a href="{% url 'nutrition:daily_diet_totals-update' daily_diet_totals.id %}"> Update </a></li>

            <!-- Delete -->
            <form action="{% url 'nutrition:daily_diet_totals-delete' daily_diet_totals.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="daily_diet_totals_id" value="{{ daily_diet_totals.id }}"/>
                <button type="submit" class="btn btn-default btn-sm">
                    <i class="fa fa-trash"></i>
                </button>

            </form>
        {% endfor %}
    </ul>
    {% else %}
        <h3>You don't have any daily diet totals uploaded.</h3>
{% endif %}

{% endblock %}